In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)
pd.set_option('display.expand_frame_repr', False)
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv("/kaggle/input/movie/movies_metadata.csv", low_memory=False)  # DtypeWarning kapamak icin

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
df.head()

   adult                              belongs_to_collection    budget                                             genres                              homepage     id    imdb_id original_language               original_title                                           overview popularity                       poster_path                               production_companies                               production_countries release_date      revenue  runtime                                   spoken_languages    status                                            tagline                        title  video  vote_average  vote_count
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...  http://toystory.disney.com/toy-story    862  tt0114709                en                    Toy Story  Led by Woody, Andy's toys live happily in his ...  21.946943  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg     [{'name': 'Pixar Animation Studios', 'id': 3}]  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-10-30  373554033.0     81.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released                                                NaN                    Toy Story  False           7.7      5415.0
1  False                                                NaN  65000000  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...                                   NaN   8844  tt0113497                en                      Jumanji  When siblings Judy and Peter discover an encha...  17.015539  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  [{'name': 'TriStar Pictures', 'id': 559}, {'na...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-15  262797249.0    104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released          Roll the dice and unleash the excitement!                      Jumanji  False           6.9      2413.0
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...                                   NaN  15602  tt0113228                en             Grumpier Old Men  A family wedding reignites the ancient feud be...    11.7129  /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg  [{'name': 'Warner Bros.', 'id': 6194}, {'name'...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22          0.0    101.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released  Still Yelling. Still Fighting. Still Ready for...             Grumpier Old Men  False           6.5        92.0
3  False                                                NaN  16000000  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...                                   NaN  31357  tt0114885                en            Waiting to Exhale  Cheated on, mistreated and stepped on, the wom...   3.859495  /16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg  [{'name': 'Twentieth Century Fox Film Corporat...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22   81452156.0    127.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released  Friends are the people who let you be yourself...            Waiting to Exhale  False           6.1        34.0
4  False  {'id': 96871, 'name': 'Father of the Bride Col...         0                     [{'id': 35, 'name': 'Comedy'}]                                   NaN  11862  tt0113041                en  Father of the Bride Part II  Just when George Banks has recovered from his ...   8.387519  /e64sOI48hQXyru7naBFyssKFxVd.jpg  [{'name': 'Sandollar Productions', 'id': 5842}...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-02-10   76578911.0    106.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released  Just When His World Is Back To Normal... He's ...  Father of the Bride Part II  False           5.7       173.0

In [ ]:
#################################
# 1. TF-IDF Matrisinin Oluşturulması
#################################

In [4]:
df["overview"].head()

tfidf = TfidfVectorizer(stop_words="english")

In [5]:
df[df["overview"].isnull()]

       adult belongs_to_collection    budget                                             genres         homepage      id    imdb_id original_language                    original_title overview popularity                       poster_path                               production_companies                               production_countries release_date     revenue  runtime                           spoken_languages    status tagline                             title  video  vote_average  vote_count
32     False                   NaN         0  [{'id': 10749, 'name': 'Romance'}, {'id': 12, ...              NaN   78802  tt0114952                fr  Guillaumet, les ailes du courage      NaN   0.745542  /k6ODtR38dKEfuzSGjggr8KDyAF4.jpg    [{'name': 'Iwerks Entertainment', 'id': 70801}]  [{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...   1996-09-18         0.0     50.0   [{'iso_639_1': 'en', 'name': 'English'}]  Released     NaN                  Wings of Courage  False           6.8         4.0
300    False                   NaN  22000000  [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...              NaN  161495  tt0114296                sv                         Roommates      NaN   3.395867  /hvHNlMvWS2GBt7RR971bJ3k4bJc.jpg  [{'name': 'Hollywood Pictures', 'id': 915}, {'...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-03-01  12400000.0    108.0   [{'iso_639_1': 'en', 'name': 'English'}]  Released     NaN                         Roommates  False           6.4         7.0
634    False                   NaN         0                     [{'id': 35, 'name': 'Comedy'}]              NaN  287305  tt0117312                de    Peanuts – Die Bank zahlt alles      NaN   0.066123  /wpk30SvRHmjC2plgKHZXxG0FlKd.jpg  [{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...          [{'iso_3166_1': 'DE', 'name': 'Germany'}]   1996-03-21         0.0      NaN                                         []  Released     NaN    Peanuts – Die Bank zahlt alles  False           4.0         1.0
635    False                   NaN         0                     [{'id': 35, 'name': 'Comedy'}]              NaN  339428  tt0116485                de                     Happy Weekend      NaN   0.002229                               NaN   [{'name': 'Senator Film Produktion', 'id': 191}]          [{'iso_3166_1': 'DE', 'name': 'Germany'}]   1996-03-14     65335.0      NaN   [{'iso_639_1': 'de', 'name': 'Deutsch'}]  Released     NaN                     Happy Weekend  False           0.0         0.0
641    False                   NaN         0                     [{'id': 35, 'name': 'Comedy'}]              NaN   10801  tt0117788                de                     Das Superweib      NaN   0.821299  /AbhMKCh3fV5PY2B9uSPF1DWEvq2.jpg            [{'name': 'Constantin Film', 'id': 47}]          [{'iso_3166_1': 'DE', 'name': 'Germany'}]   1996-03-06         0.0     86.0   [{'iso_639_1': 'de', 'name': 'Deutsch'}]  Released     NaN                     The Superwife  False           5.3         7.0
...      ...                   ...       ...                                                ...              ...     ...        ...               ...                               ...      ...        ...                               ...                                                ...                                                ...          ...         ...      ...                                        ...       ...     ...                               ...    ...           ...         ...
45342  False                   NaN         0                      [{'id': 18, 'name': 'Drama'}]              NaN  199887  tt1771636                en                        Over/Under      NaN   0.704642  /1xLaIBGGPE4APtBJdfeuyOWICZ0.jpg  [{'name': 'Fox Television Studios', 'id': 6529...  [{'iso_3166_1': 'US', 'name': 'United States o...   2013-01-04         0.0     87.0   [{'iso_639_1': 'en', 'name': 'English'}]  Released     NaN                        Over/Under  False           4.0         2.0
45377  False                   NaN         0                  [{'id': 12, 'name': 'Adventure'}]              NaN  317389  tt0070695                es     Simbad e il califfo di Bagdad      NaN   0.006352  /izk7KbT6LZO9baEhCkOZYMgj60w.jpg  [{'name': 'Roas Produzioni', 'id': 21137}, {'n...            [{'iso_3166_1': 'IT', 'name': 'Italy'}]   1973-07-22         0.0      NaN  [{'iso_639_1': 'it', 'name': 'Italiano'}]  Released     NaN     Simbad e il califfo di Bagdad  False           0.0         0.0
45398  False                   NaN   1254040  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...  http://lmtr.fi/  468707  tt5742932                fi  Lauri Mäntyvaaran tuuheet ripset      NaN   0.347806  /rKOpJuwb7pTqYVShHM2tl25VxyF.jpg    [{'name': 'Elokuvayhtiö Oy Aamu', 'id': 84883}]          [{'iso_3166_1': 'FI', 'name': 'Finland'}]   2017-07-28         0.0     90.0     [{'iso_639_1': 'fi', 'name': 'suomi'}]  Released     NaN  Thick Lashes of Lauri Mäntyvaara  False           8.0         1.0
45399  False                   NaN    750000  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...              NaN  280422  tt3805180                ru                       Все и сразу      NaN   0.201582  /hNsmPpl3zLG36jr4EIEd5P8I4pa.jpg  [{'name': 'Кинокомпания «Lunapark»', 'id': 420...           [{'iso_3166_1': 'RU', 'name': 'Russia'}]   2014-06-05         3.0      0.0   [{'iso_639_1': 'ru', 'name': 'Pусский'}]  Released     NaN                       All at Once  False           6.0         4.0
45410  False                   NaN         0  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...              NaN  449131  tt0321264                ru                             Aprel      NaN   0.008903                               NaN                                                 []           [{'iso_3166_1': 'RU', 'name': 'Russia'}]          NaN         0.0      NaN                                         []  Released     NaN                             Aprel  False           6.0         1.0

[954 rows x 24 columns]

In [6]:
# df[df['overview'].isnull()]
df['overview'] = df['overview'].fillna('')

In [7]:
tfidf_matrix = tfidf.fit_transform(df['overview'])

In [8]:
tfidf_matrix.shape
df['title'].shape

(45466, 75827)

In [9]:
tfidf.get_feature_names_out()

array(['00', '000', '000km', ..., '첫사랑', 'ﬁrst', 'ﬁve'], dtype=object)

In [10]:
tfidf_matrix.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
#################################
# 2. Cosine Similarity Matrisinin Oluşturulması
#################################

In [11]:
cosine_sim = cosine_similarity(tfidf_matrix,
                               tfidf_matrix)

In [12]:
cosine_sim.shape

(45466, 45466)

In [13]:
cosine_sim[1]

array([0.01504121, 1.        , 0.04681953, ..., 0.        , 0.02198641,
       0.00929411])

In [ ]:
#################################
# 3. Benzerliklere Göre Önerilerin Yapılması
#################################

In [16]:
indices = pd.Series(df.index, index=df['title'])

title
Toy Story                          0
Jumanji                            1
Grumpier Old Men                   2
Waiting to Exhale                  3
Father of the Bride Part II        4
                               ...
Subdue                         45461
Century of Birthing            45462
Betrayal                       45463
Satan Triumphant               45464
Queerama                       45465
Length: 45466, dtype: int64

In [18]:
indices.index.value_counts()

Cinderella              11
Hamlet                   9
Alice in Wonderland      9
Beauty and the Beast     8
Les Misérables           8
                        ..
Cluny Brown              1
Babies                   1
The Green Room           1
Captain Conan            1
Queerama                 1
Name: title, Length: 42277, dtype: int64

In [19]:
indices = indices[~indices.index.duplicated(keep='last')]

In [20]:
indices["Cinderella"]

45406

In [22]:
movie_index = indices["Sherlock Holmes"]
cosine_sim[movie_index]

array([0.        , 0.00392837, 0.00476764, ..., 0.        , 0.0067919 ,
       0.        ])

In [24]:
#Sherlock holmes ile diğer bütün filmlerin benzerliklerini çıkardık
similarity_scores = pd.DataFrame(cosine_sim[movie_index],
                                 columns=["score"])

          score
0      0.000000
1      0.003928
2      0.004768
3      0.000000
4      0.000000
...         ...
45461  0.000000
45462  0.000000
45463  0.000000
45464  0.006792
45465  0.000000

[45466 rows x 1 columns]

In [25]:
#en çok benzer 10 film
movie_indices = similarity_scores.sort_values("score", ascending=False)[1:11].index

In [26]:
#en çok benzer 10 film
df['title'].iloc[movie_indices]

34737    Приключения Шерлока Холмса и доктора Ватсона: ...
14821                                    The Royal Scandal
34750    The Adventures of Sherlock Holmes and Doctor W...
9743                           The Seven-Per-Cent Solution
4434                                        Without a Clue
29706                       How Sherlock Changed the World
18258                   Sherlock Holmes: A Game of Shadows
24665     The Sign of Four: Sherlock Holmes' Greatest Case
6432                   The Private Life of Sherlock Holmes
29154                          Sherlock Holmes in New York
Name: title, dtype: object

In [ ]:
#################################
# 4. Çalışma Scriptinin Hazırlanması
#################################

In [ ]:
def content_based_recommender(title, cosine_sim, dataframe):
    # index'leri olusturma
    indices = pd.Series(dataframe.index, index=dataframe['title'])
    indices = indices[~indices.index.duplicated(keep='last')]
    # title'ın index'ini yakalama
    movie_index = indices[title]
    # title'a gore benzerlik skorlarını hesapalama
    similarity_scores = pd.DataFrame(cosine_sim[movie_index], columns=["score"])
    # kendisi haric ilk 10 filmi getirme
    movie_indices = similarity_scores.sort_values("score", ascending=False)[1:11].index
    return dataframe['title'].iloc[movie_indices]

In [ ]:
def calculate_cosine_sim(dataframe):
    tfidf = TfidfVectorizer(stop_words='english')
    dataframe['overview'] = dataframe['overview'].fillna('')
    tfidf_matrix = tfidf.fit_transform(dataframe['overview'])
    cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
    return cosine_sim